@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Libre Franklin", sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(0, 0, 30); */
    background-image: url(https://images.unsplash.com/photo-1560837616-fee1f3d8753a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjd8fGNsb3VkfGVufDB8fDB8fHww);
    background-position: bottom;
    background-size: cover;
    
  
}
.weatherContainer{
    display: flex;
    margin: 10% auto;
    height: 500px;
    max-width: 100%;
    /* border: 1px solid rgba(247, 247, 250, 0.2) ; */
    background-color: rgba(0, 0, 0, 0.464);
   
}

.weatherPic{
    width: 60%;
    position: relative;
}

.weather  img{
    width: 100%;
    height: 100%;
    position: absolute;
    
}
.currentWeather{
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding-left: 20px;
    color: white;
}
.bigFont{
    font-size: 80px;
}


.weatherDetails{
    width: 40%;
    /* padding-left: 25px; */
    padding: 20px;
    
}
.searchBar{
    margin: 20px auto;
    padding: 20px;
  
}
 input{
    background-color: rgba(246, 247, 248, 0.021);
    border: 1px solid rgba(251, 248, 248, 0.518);
    width: 80%;
    position: absolute;
    
  
}
::placeholder {
    color: rgba(253, 252, 252, 0.871);
    font-size: 15px;
  }
.btn{
    width: 10%;
    position: absolute;
    
}
.subDetails{
    display: flex;
    justify-content: space-between;
}
.subDetails p{
    color: rgb(196, 193, 193);
}
@media(max-width:800px){
    .bigFont{
        font-size: 40px;
    }
    .weatherContainer{
        display: block;
        border: 0;
        height: 600px;
        margin: 0;
        padding: 0;
    }
    .weatherPic{
        width: 100%;
        height: 100%;
    }
    .weatherDetails{
        width: 100%;
    }
    
}
@media(max-width:1135px){
    .bigFont{
        font-size: 80px;
    }
    
}