@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Libre Franklin", sans-serif;
   
}


.main{
    width: 100%;
    height: 100vh;
}
#bg{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: -1;
   
}
.weatherContainer{
    
    display: flex;
    margin: 10% auto;
    height: 500px;
    max-width: 100%; 
    background-color: rgba(0, 0, 0, 0.404);
   
}

.weatherPic{
    width: 60%;
    position: relative;
}
.caption{
    color: white;
}

.weather  img{
    width: 100%;
    height: 100%;
    position: absolute;
    
}
.currentWeather{
    position: absolute;
    z-index: 1;
    bottom: 5%;
    padding-left: 20px;
    color: white;
} 
#cityName{
        text-transform: capitalize;
    }
.bigFont{
    font-size: 80px;
}


.weatherDetails{
    width: 40%;
    /* padding-left: 25px; */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.636);
    
    
}
.searchBar{
    margin: 20px auto;
    padding: 20px;
  
}
 input{
    background-color: rgba(246, 247, 248, 0.021);
    border: 1px solid rgba(251, 248, 248, 0.518);
    width: 80%;
    position: absolute;
    
  
}
#weatherIcon{
    width: 60px;
    height: 60px;
    
}
.time{
    margin-bottom: -10px;
}
::placeholder {
    color: rgba(253, 252, 252, 0.871);
    font-size: 15px;
  }
.weatherCondition{
    display: flex;
    flex-direction: row;
    
}

.subDetails{
    display: flex;
    justify-content: space-between;
}
.subDetails p{
    color: rgb(196, 193, 193);
}
@media(max-width:800px){
    .bigFont{
        font-size: 30px;
    }
    .weatherContainer{
        display: block;
        border: 0;
        height: 600px;
        margin: 0;
        padding: 0;
        border-radius: 0;
        
    }
    .weatherPic{
        width: 100%;
        height: 100%;
    }
    .weatherDetails{
        width: 100%;
    }
    .subDetails p{
        color: rgb(10, 10, 10);
    }
    #bg{
        height: 70%;
    }
    .caption{
        color: black;
    }
    #cityName{
        font-size: 20px;
    }
    #weatherIcon{
        width: 50px;
        height: 50px;
        
    }
    #today{
        font-size: 10px; 
    }
    #clock{
        font-size: 10px; 
    }
    .weatherDetails{
        background-color: white;
    }
    
}
@media(max-width:1135px){
    .bigFont{
        font-size: 80px;
    }
   
    
}